@font-face{
	font-family: "glyph";
	src: url('./glyphs.TTF');
}

*{font-family: "Arial Narrow", sans-serif;}

body {
	background: rgb(180,0 ,280);
	overflow: hidden;
}

.main-container {
	margin: auto;
	/* position: fixed; */
	/* width: 100vw; */
	height: 100vh;
	/* top: 0; */
	/* left: 0; */
	display: grid;
	max-width: 800px;
	grid-template-rows: 20% 20% 50%;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	grid-gap:1%;
}

.images {
	overflow-y: scroll;
	width: 100%;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
	grid-row-gap: 1em;
}

.image-box[activated="true"]{
	border: 1px solid yellow;
}

img {
	max-width: 95%;
	max-height: 95%;
	mix-blend-mode: multiply;
}

.image-box[activated="false"] img{
	opacity: .3;
}

.image-box {
	border: 1px solid black;
	width: 120px;
	height: 120px;
	padding: .5em;
}

.floating {
	position: fixed;
	width: 250px;
	height: 250px;
	display: grid;
	grid-gap: 2%;
	font-size: 2em;
	grid-template-rows: 10% 70% 10%;
	mix-blend-mode: multiply;
	font-family: "Arial Narrow", sans-serif;
	font-weight: 600;
}

.floating img{
	max-height: 85%;
	max-width: 85%;
}

.ui {
	position: fixed;
	width: 80vw;
	height: 80px;
	bottom: 2vw;
	left: 10vw;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.ui > * {
	margin: 1em;
	display: grid;
	font-size: .8em;
	grid-template-columns: repeat(4, 70px);
	grid-gap: .4em;
}


input {
	all: unset;
	font-size: 4em;
	border: 1px solid black;
	background: white;
	padding: 1em;
	user-select: none;
}

button {
	all: unset;
	border: 1px solid black;
	background: white;
	padding: 1em;
	user-select: none;
}

button[activated='true']{
	background: black;
	color: white;
}

button:hover {
	background: black;
	color: white;
	border: 1px solid white;
}

span.number {
	background: white;
	padding: 1em;
	border: 1px solid black;
}

@media only screen and (max-width: 800px) {
	input {
		font-size: 2em;
	}
}
